.main{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
form label{
  font-weight: 700;
}
.form-elem{
  padding: 10px 0px;
  margin: 5px 0px;
}
.address{
  display: flex;
  flex-direction: column;
}
input,.add-field{
  font-size:1.5rem; 
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 5px 0px 0px 0px ;
  padding: 8px 6px ;
}

form button{
  font-size: 1.2rem;
  margin: 13px 0px ;
  padding: 8px 10px;
}
.red{
  color: red;
   font-size: 15px
}